<section class="advantages">
  <div class="container">
    <h2 class="advantages-title" hidden>Advantages</h2>
    <ul class="advantages-container list">
      <li class="advantages-item">
        <div class="advantages-item-icon advantages-item-line">
          <svg class="advantages-icon" width="32" height="32">
            <use href="./img/icons.svg#icon-chocolate-bar"></use>
          </svg>
        </div>
        <h3 class="advantages-title">Irresistible Chocolate Flavor</h3>
        <p class="advantages-section-text">
          Crafted with the finest cocoa beans, our chocolate spread offers an
          unsurpassed taste that elevates any meal. Indulge in the rich, creamy
          flavor of chocolate, perfect for spreading on rotis, bread, or
          anything your heart desires. Experience a decadent journey with every
          bite.
        </p>
      </li>
      <li class="advantages-item">
        <div class="advantages-item-icon advantages-item-line">
          <svg class="advantages-icon" width="32" height="32">
            <use href="./img/icons.svg#icon-coin"></use>
          </svg>
        </div>
        <h3 class="advantages-title">Affordable Indulgence</h3>
        <p class="advantages-section-text">
          Enjoy the luxurious taste of premium chocolate without breaking the
          bank. Our chocolate spread offers affordable indulgence, allowing you
          to treat yourself and your loved ones without compromise. Dive into
          velvety smoothness and savor the sweetness of life, all at a
          wallet-friendly price.
        </p>
      </li>
      <li class="advantages-item">
        <div class="advantages-item-icon">
          <svg class="advantages-icon" width="32" height="32">
            <use href="./img/icons.svg#icon-spoon"></use>
          </svg>
        </div>
        <h3 class="advantages-title">Artisanal Production</h3>
        <p class="advantages-section-text">
          Made with care in our own production facilities, each batch of our
          chocolate spread is crafted to perfection. We meticulously select the
          finest ingredients and handcraft every jar, ensuring the highest
          quality and flavor in every spoonful. Taste the difference of
          artisanal craftsmanship with every bite.
        </p>
      </li>
    </ul>
  </div>
</section>