<section class="our-products-container">
  <div class="container">
    <h2 id="our-products" class="our-products-title">
      our
      <span class="our-products-title-span">products</span>
    </h2>
    <div class="swiper-p mySwiper">
      <ul class="swiper-wrapper swiper-gap">
        <!-- First product -->
        <li class="swiper-slide swiper-slider-substitute first-item slide-products">
          <picture>
            <source srcset="./img/our-products/1.jpeg" type="image/jpeg" />
            <img src="./img/our-products/1.jpeg" alt="Divine Choco Swirl" class="our-products-card-img" />
          </picture>
          <h3 class="our-products-item-title">DIVINE</h3>
          <p class="our-products-item-text">Choco swirl</p>
          <button type="button" class="our-products-item-price">250 Rs</button>
        </li>
        <!-- Second product -->
        <li class="swiper-slide swiper-slider-substitute first-item slide-products">
          <picture>
            <source srcset="./img/our-products/2.jpeg" type="image/jpeg" />
            <img src="./img/our-products/2.jpeg" alt="Apple Cranberry" class="our-products-card-img" />
          </picture>
          <h3 class="our-products-item-title">Creamy</h3>
          <p class="our-products-item-text">Dark chocolate</p>
          <button type="button" class="our-products-item-price">300 Rs</button>
        </li>
        <!-- Third product -->
        <li class="swiper-slide swiper-slider-substitute first-item slide-products">
          <picture>
            <source srcset="./img/our-products/3.jpeg" type="image/jpeg" />
            <img src="./img/our-products/3.jpeg" alt="Lime Sea Salt" class="our-products-card-img" />
          </picture>
          <h3 class="our-products-item-title">Rich</h3>
          <p class="our-products-item-text">Coca bliss</p>
          <button type="button" class="our-products-item-price">260 Rs</button>
        </li>
        <!-- Fourth product -->
        <li class="swiper-slide swiper-slider-substitute first-item slide-products">
          <picture>
            <source srcset="./img/our-products/4.jpeg" type="image/jpeg" />
            <img src="./img/our-products/4.jpeg" alt="Pineapple" class="our-products-card-img" />
          </picture>
          <h3 class="our-products-item-title">Pineapple</h3>
          <p class="our-products-item-text">Dark chocolate</p>
          <button type="button" class="our-products-item-price">340 Rs</button>
        </li>
      </ul>
    </div>
    <div class="swiper-scrollbar"></div>
    <div class="swiper-pagination-p"></div>
  </div>
</section>
<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
