<section class="top_sellers_section section">
  <div class="top_seller_container">
    <h2 id="top-sellers" class="top_sellers_title">
      <span class="top_seller_accent">Top </span>sellers
    </h2>
    <ul class="top_sellers_list list">
      <li class="top_sellers_item">
        <div>
          <picture class="top_sellers_pic">
            <source
              srcset="./img/top_seller/1.jpeg"
              media="(min-width: 1200px)"
              type="image/jpeg"
            />
            <source
              srcset="./img/top_seller/1.jpeg"
              media="(min-width: 768px)"
              type="image/jpeg"
            />
            <source
              srcset="./img/top_seller/1.jpeg"
              media="(max-width: 767px)"
              type="image/jpeg"
            />
            <img loading="lazy"
              src="./img/top_seller/1.jpeg"
              class="top_sellers_img"
              alt=""
            />
          </picture>
          <p class="top_seller_text">
            Crazy enough, a bean just like the coffee bean called Cacao. Cacao has been around for thousands of years and was first discovered by the Native American tribe called the Mayans.
          </p>
        </div>
      </li>
      <li class="top_sellers_item">
        <picture class="top_sellers_pic">
          <source
            srcset="./img/top_seller/2.jpeg"
            media="(min-width: 1200px)"
            type="image/jpeg"
          />
          <source
            srcset="./img/top_seller/2.jpeg"
            media="(min-width: 768px)"
            type="image/jpeg"
          />
          <source
            srcset="./img/top_seller/2.jpeg"
            media="(max-width: 767px)"
            type="image/jpeg"
          />
          <img loading="lazy"
            src="./img/top_seller/2.jpeg"
            class="top_sellers_img"
            alt=""
          />
        </picture>
      </li>
      <li class="top_sellers_item top_sellers_item_only_pc">
        <picture class="top_sellers_pic">
          <source
            srcset="./img/top_seller/3.jpeg"
            media="(min-width: 1200px)"
            type="image/jpeg"
          />
          <source
            srcset="./img/top_seller/3.jpeg"
            media="(min-width: 768px)"
            type="image/jpeg"
          />
          <source
            srcset="./img/top_seller/3.jpeg"
            media="(max-width: 767px)"
            type="image/jpeg"
          />
          <img loading="lazy"
            src="./img/top_seller/3.jpeg"
            class="top_sellers_img"
            alt=""
          />
        </picture>
      </li>
    </ul>
    <div class="top_sellers_bottom_info">
      <p class="top_seller_paragraph">
        Fascinatingly, beginnings to a bean similar to the coffee bean, originating from the rich lands of India. This intriguing ingredient has a long history stretching back through the ages and was first embraced by ancient Indian cultures, who marveled at its exquisite taste and endless possibilities.
      </p>
      <button
        type="button"
        class="top_seller_button js-open-modal"
        data-modal="4"
      >
        Buy now
      </button>
    </div>
  </div>
</section>
